h2 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
