.avatarImage {
  width: 68px;
  height: 68px;
  border-radius: 8px;
}

.title {
  color: var(--header-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.addContainer {
  position: absolute;
  padding: 7px;
  background-color: var(--main-button-hover-bg-color);
  border-radius: 8px;
  bottom: -15px;
}

.addContainer:hover,
.addContainer:focus {
  background-color: var(--main-button-bg-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 25px;
}
