.button {
  border-radius: 8px;
  background: var(--main-button-bg-color);
  border: none;
  color: #161616;
  font-size: 14px;
  font-weight: 500;
  padding: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: var(--main-button-hover-bg-color);
}
