.logoImg {
  background-color: #000;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.appName {
  font-weight: 600;
  letter-spacing: -1.6px;
}
