.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  border: 1px solid #bedbb0;
  background: #1f1f1f;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  padding: 14px 14px 18px;
  color: #fff;
}

.input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
}

.input:focus {
  outline: none;
  border: 1px solid #bedbb0;
}

.button {
  background: #bedbb0;
}

.button:hover {
  background-color: #93d392;
}

.error {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: red;
}
