.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
