.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  color: var(--header-color);
  padding: 14px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (width>= 768px) {
  .header {
    padding: 24px 32px;
  }
}

@media (width>= 1280px) {
  .header {
    padding: 18px 20 px;
  }
}

.menuButton {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

@media (width>=1280px) {
  .menuButton {
    display: none;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (width>=1280px) {
  .container {
    margin-left: auto;
  }
}

.name {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  border: none;
  background-color: transparent;
  color: var(--header-text-color);
  cursor: pointer;
  text-transform: capitalize;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar {
  position: absolute;
  top: 60px;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-color);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.light {
  --header-bg: #f9f9f9;
  --header-color: #000;
  --sidebar-bg: #fff;
  --sidebar-color: #000;
}

.dark {
  --header-bg: #333;
  --header-color: #fff;
  --sidebar-bg: #444;
  --sidebar-color: #fff;
}

.violet {
  --header-bg: #4b0082;
  --header-color: #fff;
  --sidebar-bg: #5a0094;
  --sidebar-color: #fff;
}
