.sidebar {
  width: 225px;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
}

.logoContainer {
  padding: 14px;
}

@media (width>=768px) {
  .logoContainer {
    padding: 24px;
  }
}

@media (width >=1280px) {
  .sidebar {
    position: absolute;
    width: 260px;
    transform: translateX(0);
  }
}

.sidebarOpen {
  transform: translateX(0);
}

.modalButtons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.modalText {
  text-align: center;
  color: var(--main-text-color);
}

.button {
  color: var(--sidebar-text-color);
}

.modal {
  max-width: 350px;
  padding: 24px;
}

.logoutContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  gap: 14px;
  padding: 0 24px 0 24px;
  background-color: transparent;
}

.logoutContainer span {
  font-size: 14px;
  font-weight: 500;
  color: var(--sidebar-text-color);
}

.logoutContainer:focus,
.logoutContainer:hover {
  background-color: transparent;
}

.logoutContainer span:focus,
.logoutContainer span:hover {
  color: var(--main-sidebar-project-active-bg-color);
}
