body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --header-bg: #f9f9f9;
  --header-text-color: #000;

  --main-bg: #f6f6f7;
  --main-text-color: #000;

  --sidebar-bg: #fff;
  --sidebar-text-color: #000;
}

/* Teme */
.light {
  --logo-fill-color: #1f1f1f;
  --logo-fill2-color: #ffffff;

  --header-bg: #fcfcfc;
  --header-text-color: rgba(22, 22, 22, 0.8);
  --header-link-hover: #bedbb0;

  --main-bg: #f6f6f7;
  --main-text-color: rgba(22, 22, 22, 0.8);
  --main-button-bg-color: #bedbb0;
  --main-button-hover-bg-color: #9dc888;
  --main-button-text-color: #161616;
  --main-icon-color: #16161680;
  --main-icon-color-hover: #bedbb0;
  --main-sidebar-project-active-text-color: #161616;
  --main-sidebar-project-active-bg-color: #f6f6f7;
  --main-sidebar-button-color: #bedbb0;

  --help-container-bg: rgba(246, 246, 247, 1);
  --sidebar-bg: #fff;
  --sidebar-text-color: #161616;
}

.dark {
  --logo-fill-color: #1f1f1f;
  --logo-fill2-color: #ffffff;

  --header-bg: #161616;
  --header-text-color: #fff;
  --header-link-hover: #bedbb0;

  --main-bg: #1f1f1f;
  --main-text-color: #fff;
  --main-button-bg-color: #bedbb0;
  --main-button-hover-bg-color: #9dc888;
  --main-button-text-color: #161616;
  --main-icon-color: #ffffff80;
  --main-icon-color-hover: #bedbb0;
  --main-sidebar-project-active-text-color: #fff;
  --main-sidebar-project-active-bg-color: rgba(255, 255, 255, 0.5);
  --help-container-bg: rgba(31, 31, 31, 1);
  --main-sidebar-button-color: #bedbb0;

  --sidebar-bg: #121212;
  --sidebar-text-color: #fff;
}

.violet {
  --logo-fill-color: #ecedfd;
  --logo-fill2-color: #5255bc;

  --header-bg: #fcfcfc;
  --header-text-color: rgba(22, 22, 22, 0.8);
  --header-link-hover: #5255bc;

  --main-bg: #ecedfd;
  --main-text-color: #161616;
  --main-button-bg-color: #5255bc;
  --main-button-hover-bg-color: #7b7ede;
  --main-button-text-color: #fff;
  --main-icon-color: #16161680;
  --main-icon-color-hover: #5255bc;
  --main-sidebar-project-active-text-color: #fff;
  --main-sidebar-project-active-bg-color: #1f1f1f;
  --main-sidebar-button-color: #b8bcfd;
  --main-disabled-date-color: rgba(255, 255, 255, 0.2);
  --help-container-bg: rgba(109, 111, 233, 0.63);

  --sidebar-bg: #5255bc;
  --sidebar-text-color: #fff;
}

body.light {
  background-color: #fff;
  color: #000;
}

body.dark {
  background-color: #232323;
  color: #fff;
}

body.violet {
  background-color: #d6d8ff;
  color: #fff;
}

.react-datepicker {
  position: absolute !important;
  padding: 18px;
  background-color: var(--header-bg) !important; /* Fundal personalizat */
  color: var(--header-text-color) !important;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 0px;
  left: 30px;
  border: none !important;
}

.react-datepicker__header {
  background-color: var(--header-bg) !important;
  color: var(--header-text-color) !important;
}

h2.react-datepicker__current-month {
  color: var(--header-text-color) !important; /* Text alb */
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--header-text-color) !important;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  color: rgba(190, 190, 190, 0.8) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: var(--main-button-bg-color) !important;
  border-radius: 50% !important;
  color: var(--header-text-color) !important;
}

.react-datepicker__today-button {
  display: none;
}

.react-datepicker__day--today {
  font-weight: bold;
  color: #ff4500; /* Ziua de astăzi */
}

.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input
  input[type="time"] {
  appearance: textfield !important;
}
